[submodule "plugins/base16-shell"]
	path = plugins/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
	branch = master
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "plugins/fzf-marks"]
	path = plugins/fzf-marks
	url = https://github.com/urbainvaes/fzf-marks.git
	branch = master
